* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor:none;
}

ul, ol {
  list-style: none;
}

button, input {
  font: inherit;
  border: none;
  background: inherit;
}

:focus {
  outline: none;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}


select {
  appearance:none;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari 和 Chrome */
  border: none;
  display: block;
  position: relative;
  background: none;
}
